div {
  /* border: solid 1px black; */
  margin: 0px;
  padding: 0px;
}
div input {
  width:15px; 
  height:15px; 
  margin: 0px 3px 0px 0px;
}
/* input[type="checkbox"] { margin: 0; padding: 0; border: 0; } */

/* div.temp - the container ot the 'upload..' text
-----------------------------------------------------------*/
div.temp { 
  /* border: solid 1px default; */
  padding: 0;
  margin: 0;
  clear: both;
  display: none;
}

div.parent { 
  /* border: solid 1px default; */
  padding: 0;
  margin: 0;
  clear: both;
}
div.child { 
  border: solid 0px green;
  padding: 0;
  margin: 0;
}
a tt {
  text-decoration: underline;
}

a.tocx, a.tocx tt {
  text-decoration: none;
}
